/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.container{
  display:flex;
  justify-content: center;
  background-color:rgb(189, 219, 218);
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}
.buttonContainer{
  background-color:rgb(189, 219, 218);
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.button{
  font-size: 15px;
  cursor: pointer;
  border: none;
  padding: 12px 8px;
  margin: 5px;
  border-radius: 10px;
}

.button.blocked {
  background-color: rgb(146, 143, 143);
  color: white;
}

.button.default {
  background-color: rgb(80, 72, 72);
  color: white;
}

.button.active {
  background-color: rgb(71, 158, 240);
  color: white;
}
.button.available {
  background-color: rgb(247, 237, 146);
  color: white;
}